@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/Best Netflix Background Dc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
}

body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona uma camada escura */
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
}

.container__titulo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    height: 5%;
}

.container__titulo__idioma {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logomarca {
    width: 9.25rem;
    height: 5.5rem;
}

.select__idioma {
    font-size: 1rem;
    padding: 6px 25px 6px 25px;
    border-radius: 0.25rem;
    font-weight: 600;
    color: white;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, .5);
}

.select__idioma__selecao {
    background-color: white;
    color: black;
}

.entrar {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px 20px;
    border-radius: 0.25rem;
}

.container__imagem {
    display: flex;
    justify-content: center;
}

.image {
    border-radius: 0.5rem;
    width: 15rem;
    height: 22rem;
    transition: 200ms;
}

.image:hover {
    width: 16rem;
    height: 23rem;
}


.paragrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    width: 70%;
    margin: auto;
    padding: 0 20px 0 20px;
    text-align: center;
    font-weight: 900;
    line-height: 4rem;
}

.sub__paragrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: auto;
    padding: 0 20px 0 20px;
    text-align: center;

}

.sub__paragrafo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: auto;
    padding: 0 10px 0 10px;
    text-align: center;
}

.login {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 10px;
    padding-left: 25rem;
    padding-right: 25rem;
}

.input__email {
    font-size: 1rem;
    border-radius: 0.30rem;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border: 1px solid gray;
    padding-left: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 60%;
}

.input__email:focus {
    border: 1px solid gray;
    font-size: 1rem;
    padding: 1rem 1rem;
}

.btn__entrar {
    text-decoration: none;
    background-color: #e5070c;
    width: 40%;
    text-align: center;
    color: white;
    padding: 1rem 1rem;
    border-radius: 0.30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


@media (max-width: 1309px) {
    .login{
        flex-direction: column;
        width: 90%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .btn__entrar {
        width: 60%;
    }
    .input__email {
        width: 100%;
    }
    .select__idioma{
        padding: 0.2rem;
        font-size: 1rem;
    }
}

